
.post-header{
    display: flex;
    width: 100%;
    border: bottom;
    border-color: grey;
    flex-direction: row;
}

.header-left{
    margin-left: 20px;
    align-self: left;
    display: flex;
    flex-direction: row;
    
}
.header-left i{
    align-self: center;  
}
.header-right{
    margin-right: 20px;
    align-self: right;
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 3;
}
.header-right i{
    align-self: center;
}


img{
    width: 100%;
}
.post-header p {
    font-size: medium;
    text-align: left;
    margin: 10px;
    
    
}
.post-body p {
    font-size: medium;
    text-align: left;
    margin: 10px;
    padding: 10px;
    
}
.post-icons{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.post-iconsR{
    display: flex;
    flex-direction: row-reverse;
    width: 200px;
    margin-right: 10px;
}
.post-iconsL{
    display: flex;
    flex-direction: row;
    width: 200px;
    flex-grow: 2;
    margin-left: 10px;
}
.post-icons i{
    margin: 5px;
    padding: 5px;
}
.post {
    background-color: white;
    width: 500px;
    height: 700px;
	align-self: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
body{
    width: 100%;
    margin: 0;
    background-color: black;
    font-family: "Roboto";
}